* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    background-color: white;
  }
  
  #cabeçalho{
    background-color: #10498a;
    height: 70px;
  
  }

  #txt-cabeçalho{
    color: white;
    display: flex;
    font-size: 30px;
    margin-left: 100px;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  