* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;

}

#cabeçalho{
  background-color: #10498a;
  height: 80px;
  display: flex;
  justify-content: baseline;
  align-items:center;

}

#logo-ac{
  width: 100%;
  max-width: 60px;
  margin-left: 25px;
}


#txt-cabeçalho{
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

